@import "@assets/styles/scss/mixins";

.countdown {
  text-align: center;
  padding-bottom: 20px;
  color: var(--white);
  font-weight: 700;
  color: var(--grape);

  &__col {
    display: inline-block;

    &--element {
      display: inline-block;
      margin: 0 20px;
      display: flex;
      flex-direction: column;

      .number {
        margin-bottom: 10px;
        padding: 5px;
        @include for-size(phone-only) {
          margin-bottom: 0;
        }
      }

      strong {
        font-size: 50px;

        @include for-size(phone-only) {
          font-size: 25px;
        }
      }
    }
  }
}
